DATABASE_URL="postgresql://dashboard:dashboard123@localhost:5432/dashboard?schema=public"

JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
# values in minutes
JWT_ACCESS_EXPIRATION=15
JWT_REFRESH_EXPIRATION=30

# Frontend URL for CORS
FRONTEND_URL=http://localhost:3001

# NoSql DB
MONGODB_URI=mongodb://mongodb:27017/camera_ingestion

# GCP BUCKET
GCS_BUCKET=somebucket